@(volTempForm: Form[VolumeTemperature])

@import helper._
@import helper.twitterBootstrap._

@main("Volume Temperature Form"){

<!--   Application JavaScript assets
    ================================================== -->
<!--   Application JavaScript assets
    ================================================== -->
    <script src="@routes.Assets.at("javascripts/viewmodels/CookingModelDyna.js")" type="text/javascript"></script>

    @helper.form(action = routes.Application.submit) {

                <fieldset >
                     <div id="inp_params">
                         <legend>Volume and Temperature</legend>

                        <label>Volume:</label> <input id="id_vol" type="text" data-bind="value: volume" />
                         <label>Temperature (read only) </label><input id="id_temp" data-bind="value: temperature" />
                    </div>

                    <button id="id_submit" type="submit"></button>
                </fieldset>


      }
}