@(message: String)

@main("Welcome to Play 2.1") {
<div class="navbar-inverse navbar-fixed-top nav-pills" >
    <ul class="nav">
        <li class="active"><a href="@routes.Application.blank()">Volume-Temperature Page</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Your Account <b class="caret"></b> </a>
            <ul class="dropdown-menu">
                <li><a href="#">Login</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Cart</a></li>
            </ul>

        </li>
    </ul>

</div>

}